.contactContainer {
  width: 100%;
  justify-content: center;
  align-items: center;
}

.fadeOut {
  animation-name: fadeOut;
  animation-duration: 1s;
}

@keyframes fadeOut {
  from {opacity: 1;}
  to {opacity: 0;}
}

.contactSectionBar {
  width: 332px;
  margin: 36px auto 36px auto;
}

.redirectSection {
  width: 332px;
  margin: 0px auto;
  text-align: center;
}

.fabBtn {
  background-color: rgb(50, 50, 50);
  margin: 0 12px;
  color: rgb(240, 240, 240);

  border: 1px solid rgb(125, 125, 125);

  transition: 500ms;
}

.fabBtn:hover {
  transform: scale(1.2);
}


.fabBtnLight {
  background-color:  rgb(240, 240, 240);
  border: 1px solid rgb(50, 50, 50);

  margin: 0 6px;
}


.githubIcon, .linkedinIcon {
  width: 22px;
  height: 22px;

  filter: invert(0.9);

  position: relative;
  top: -2px;
}

.redirectIcon {
  color: rgb(50, 50, 50);
}

mat-icon {
  transform: scale(1.5);
}
