<div style="width: 100%; justify-content: center; align-items: center;">
  <div class="contactSectionBar">
    <button matTooltip="GitHub" matTooltipPosition="above" class="fabBtn" mat-fab (click)="onContactBtn('github');"><mat-icon><img class="githubIcon" src="../../assets/github.svg"></mat-icon></button>
    <button matTooltip="LinkedIn" matTooltipPosition="above" class="fabBtn" mat-fab (click)="onContactBtn('linkedIn');"><mat-icon><img class="linkedinIcon" src="../../assets/linkedin.svg"></mat-icon></button>
    <button matTooltip="Email" matTooltipPosition="above" class="fabBtn" mat-fab (click)="onContactBtn('email');"><mat-icon>email</mat-icon></button>
    <button matTooltip="Studies (MSc Innovation & Technology Management)" matTooltipPosition="above" class="fabBtn" mat-fab (click)="onContactBtn('studies');"><mat-icon>school</mat-icon></button>  </div>
</div>
