app-contact, router-outlet {
  position: absolute;
  width: 100%;
}

app-contact {
  z-index: 2;
}

.creditsLink {
  position: absolute;
  bottom: 24px;
  font-size: 8pt;
  z-index: 2;
  text-align: center;
  color: rgb(225, 225, 225);

  width: 100%;
}
